﻿@{
    ViewBag.Title = "Home Page";
}

   
<div class="content-header row">
    <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">Advance Statistics Cards</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Components</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Statistics Cards
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-4 col-12">
        <div class="btn-group float-md-right">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action</button>
            <div class="dropdown-menu arrow">
                <a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <!-- Minimal statistics section start -->
    <section id="minimal-crypto-statistics-bg">
        <div class="content-header row">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Crypto Wallet Statistics With Background Color</h4>
                <p>Statistics on minimal cards with background color.</p>
            </div>
        </div>

        <!-- Crypto Stats 1 -->
        <div id="crypto-stats-3" class="row">
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card crypto-card-3 bg-info">
                    <div class="card-content">
                        <div class="card-body cc XRP pb-1">
                            <h4 class="text-white mb-3"><i class="cc XRP" title="XRP"></i> Ripple</h4>
                            <h6 class="text-white mb-1">Balance</h6>
                            <h4 class="text-white">200 XRP</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card crypto-card-3 bg-warning">
                    <div class="card-content">
                        <div class="card-body cc BTC pb-1">
                            <h4 class="text-white mb-3"><i class="cc BTC" title="BTC"></i> Bitcoin</h4>
                            <h6 class="text-white mb-1">Balance</h6>
                            <h4 class="text-white">3.5 BTC</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card crypto-card-3 bg-danger">
                    <div class="card-content">
                        <div class="card-body cc ETH pb-1">
                            <h4 class="text-white mb-3"><i class="cc ETH" title="ETH"></i> Ethereum</h4>
                            <h6 class="text-white mb-1">Balance</h6>
                            <h4 class="text-white">10 ETH</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card crypto-card-3 bg-success">
                    <div class="card-content">
                        <div class="card-body cc LTC pb-1">
                            <h4 class="text-white mb-3"><i class="cc LTC" title="LTC"></i> Litecoin</h4>
                            <h6 class="text-white mb-1">Balance</h6>
                            <h6 class="text-white">24 LTC</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>