﻿
@{
    ViewBag.Title = "Index";
}

<div class="sidebar-detached sidebar-left">
    <div class="sidebar">
        <div class="bug-list-sidebar-content">
            <!-- Predefined Views -->
            <div class="card">
                <!-- contacts view -->
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Produto</a>
                        <a href="#" class="list-group-item list-group-item-action">Recently contacted <span class="badge badge-primary badge-pill float-right">14</span></a>
                        <a href="#" class="list-group-item list-group-item-action">Favorite contacts <span class="badge badge-primary badge-pill float-right">14</span></a>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">All Contacts</a>
                        <a href="#" class="list-group-item list-group-item-action">Recently contacted</a>
                        <a href="#" class="list-group-item list-group-item-action">Favorite contacts</a>
                    </div>
                </div>
            </div>
            <!--/ Predefined Views -->

        </div>
    </div>
</div>

<section class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ladda Buttons with Icons</h4>
                <div class="heading-elements">
                    <button class="btn btn-primary"><i class="ft-plus white"></i> Inserir</button>
                </div>
            </div>
            <div class="card-body collapse show">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group">
                                <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle dataTable" role="grid" aria-describedby="users-contacts_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="users-contacts" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 186px;">Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="users-contacts" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 198px;">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="users-contacts" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending" style="width: 114px;">Phone</th>
                                            <th class="sorting" tabindex="0" aria-controls="users-contacts" rowspan="1" colspan="1" aria-label="Favorite: activate to sort column ascending" style="width: 78px;">Favorite</th>
                                            <th class="sorting" tabindex="0" aria-controls="users-contacts" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 83px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td>
                                                <div class="media">
                                                    <div class="media-left pr-1">
                                                        <span class="avatar avatar-sm avatar-online rounded-circle"><img src="../../../app-assets/images/portrait/small/avatar-s-2.png" alt="avatar"><i></i></span>
                                                    </div>
                                                    <div class="media-body media-middle">
                                                        <a href="#" class="media-heading">Alice Collins</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <a href="mailto:email@example.com">alice@example.com</a>
                                            </td>
                                            <td>+658-254-256</td>
                                            <td class="text-center"><i class="fa fa-star  yellow darken-2"></i></td>
                                            <td>
                                                <button class="btn btn-info btn-sm" data-style="zoom-out">
                                                    <span class="ladda-label"><i class="fas fa-edit"></i></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group">
                                <!-- Zoom Buttons with icons -->
                                <button class="btn btn-info btn-min-width mr-1 mb-1 ladda-button" data-style="zoom-in"><span class="ladda-label"><i class="ft-plus"></i> Zoom in</span></button>

                                <button class="btn btn-info btn-min-width mr-1 mb-1 ladda-button" data-style="zoom-out"><span class="ladda-label"><i class="ft-minus"></i> Zoom out</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>